<form action="/restaurants" method="post">
  <input type="text" name="name" placeholder="餐廳名稱" style="display: block;">
  <input type="text" name="name_en" placeholder="餐廳英文名稱" style="display: block;">
  <input type="text" name="category" placeholder="類別" style="display: block;">
  <input type="text" name="image" placeholder="照片連結" style="display: block;">
  <input type="text" name="location" placeholder="地址" style="display: block;">
  <input type="text" name="phone" placeholder="電話" style="display: block;">
  <input type="text" name="google_map" placeholder="地圖連結" style="display: block;">
  <input type="text" name="rating" placeholder="評分0-10分" style="display: block;">
  <input type="text" name="description" placeholder="餐廳簡介" style="display: block;">
  <button type="submit">新增</button>
</form>